<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <h2>Registro de Clientes</h2>
      <form action="/" method="POST">
        <div class="form-input user">
          <label >CI:</label>
          <input type="text" name="cedula_cli"   />
          <p id="mensajeError1"></p>
        </div>

        <div class="form-input user">
            <label >Nombres:</label>
            <input type="text" name="nombre"   />
            <p id="mensajeError1"></p>
        </div>

        <div class="form-input user">
            <label >Direccion:</label>
            <input type="text" name="direccion"  />
            <p id="mensajeError1"></p>
        </div>

        <div class="form-input user">
          <label >Telefono:</label>
          <input type="text" name="telefono"  />
          <p id="mensajeError1"></p>
      </div>

        <div class="form-input user">
            <label >Correo:</label>
            <input type="email" name="correo_elec"   />
            <p id="mensajeError1"></p>
        </div>

        <input type="submit" class="btn-login" value="Registrar" />
      </form>
    </div>
  </body>
</html>
